.projectContainer{
    width: 680px;
    height: auto;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 15px;

    border-radius: 20px;
    box-shadow: 0px 4px 13.5px 0px rgba(0, 0, 0, 0.38);
}

h1{
    color: var(--secondary-font-color);
    font-size: 32px;
}

p {
    color: var(--primary-font-color);
    font-size: 16px;
}


.projectInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
    justify-content: space-between;
    padding: 26px;
    border-radius: 10px;
    background-color: var(--tertiary-bg-color);
    width: max-content;
    box-shadow: 0px 4px 13.5px 0px rgba(0, 0, 0, 0.38);
}    

.stacks{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: var(--secondary-bg-color);
}

